// 隐藏滚动条
html {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
// 点击效果
.on-touch {
  &:active {
    background-color: rgba(1, 1, 1, 0.1);
  }
}
// 点击圆角效果
.ripple {
  position: relative;
  overflow: hidden;
  &:active::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.2);
    transform: scale(6, 6);
    opacity: .5;
  }
  &::after {
    content: '';
    transform: scale(0, 0);
    opacity: 0;
  }
}
// 修改vant popup
.van-popup {
  // 隐藏滚动条
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
// 修改vant的折叠面板样式
.van-collapse {
  [class*="van-hairline"]::after {
    border: none;
  }
  .van-cell {
    padding: 0;
    .van-cell__title {
      height: .9rem;
      padding-left: .15rem;
      // 通过触发左侧标题来使其整个van-cell改变，
      // 单独触发right-icons时不触发van-cell的active事件
      &:active,&:active + .right-icons,&:active + .right-icon {
        background: rgba(1, 1, 1, .1);
      }
    }
  }
  .van-collapse-item__wrapper {
    width: 100%;
    .van-collapse-item__content {
      display: flex;
      width: 100%;
      padding: 0;
    }  
  }
}
// 修改视频下vant的选项卡样式
.video-index {
  .nav-tabs {
    height: 0;
    padding-top: .75rem;
    // 去除边框
    [class*="van-hairline"]::after {
      border: none;
    }
    .van-tabs__wrap {
      position: fixed;
      top: 1.18rem;
      width: 100%;
      height: .75rem;
    }
    // 标题样式
    .van-tab {
      font-size: .25rem;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8);
      // 解决在谷歌下字体部分缺失
      .van-tab__text {
        padding-top: .04rem;
      }
      &:active {
        background-color: rgba(1, 1, 1, 0.1);
      }
    }
    // 标题激活样式
    .van-tab--active {
      font-size: .26rem;
      color: #fff;
    }
    .van-tabs__content {
      display: none;
    }
  }
}
// 修改用户信息下vant的选项卡样式
.user-tab {
  .van-tabs__wrap {
    // 粘性布局
    position: sticky;
    top: 1.2rem;
    z-index: 6;
    height: .8rem;
    margin-bottom: -0.02rem;
    border: none;
    border-radius: .4rem .4rem 0 0;
    .van-tabs__nav {
      z-index: 6;
    }
  }
  .van-tabs__content {
    background-color: #fff;
    border: none;
  }
  // 标题样式
  .van-tab {
    color: black;
    font-size: .28rem;
    // 解决在谷歌下字体部分缺失
    .van-tab__text {
      padding-top: .04rem;
    }
    &:active {
      background-color: rgba(1, 1, 1, 0.1);
    }
  }
  // 标题激活样式
  .van-tab--active {
    font-size: .3rem;
    font-weight: bold;
  }
}
// 修改用户歌单下vant tabs
.list-all {
  .van-tabs__wrap {
    // 粘性布局
    position: sticky;
    top: 1.18rem;
    height: .8rem;
    margin-bottom: -0.02rem;
    z-index: 6;
  }
  .van-tabs__content {
    background-color: #fff;
    border: none;
  }
  // 标题样式
  .van-tab {
    color: black;
    font-size: .24rem;
    // 解决在谷歌下字体部分缺失
    .van-tab__text {
      padding-top: .04rem;
    }
  }
  // 标题激活样式
  .van-tab--active {
    font-size: .26rem;
    font-weight: bold;
  }
}
// 修改vant checkbox样式
.van-checkbox {
  display: flex;
  align-items: center;
  .van-checkbox__icon {
    height: 100%;
  }
  .van-icon {
    display: flex;
    align-items: center;
    margin-top: -0.03rem;
    border-radius: .05rem;
    border-color: rgba(255, 255, 255, 0.5) !important;
    font-size: .16rem;
  }
  .van-checkbox__label {
    margin-left: .1rem;
    font-size: .2rem;
    color: rgba(255, 255, 255, 0.6);
  }
}
// 修改vant toast整体样式
.van-toast {
  width: -moz-fit-content !important;
  text-align: left !important;
  .van-toast__text {
    // 谷歌 vant 自带 火狐需要前缀
    width: -moz-fit-content;
  }
}
// 修改登录页 vant toast 
.login-toast {
  top: 88% !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  .van-toast__text {
    color: black;
  }
}
// 修改手机登录页 vant toast样式
.phone-toast {
  background-color: rgba(209, 207, 207, 0.8) !important;
  border-radius: .4rem !important;
  .van-toast__text {
    color: black;
  }
}
// 加载 toast样式
.van-toast--loading {
  background-color: transparent !important;
  .van-toast__loading {
    color: rgb(131, 126, 127);
  }
}
// 登录页公共样式
.phone-login {
  padding: .6rem .5rem 0;
  box-sizing: border-box;
  .phone-con {
    position: relative;
    display: flex;
    align-items: center;
    height: 1.2rem;
    margin-top: .4rem;
    border-bottom: .01rem solid rgba(163, 161, 161, 0.8);
    .phone-num {
      width: 85%;
      height: .55rem;
      font-size: .36rem;
      padding-left: .2rem;
      margin-top: .32rem;
      // 光标颜色
      caret-color:#e60721;
      // placeholder颜色,谷歌,火狐,ie
      &::-webkit-input-placeholder {
        color:rgb(158, 151, 152);
      }
      &:-moz-placeholder {
        color:rgb(158, 151, 152);
      }
      &::-moz-placeholder {
        color:rgb(158, 151, 152);
      }
      &:-ms-input-placeholder {
        color:rgb(158, 151, 152);
      }
    }
    // 清除按钮
    .icon-chahao {
      position: absolute;
      right: 0;
      bottom: .22rem;
      display: none;
      font-size: .46rem;
      color: rgba(163, 161, 161, 0.8);
    }
    // :valid 选择器在表单元素的值需要根据指定条件验证时设置指定样式
    //（这里要记得在input里面加上required="required"，表示必须）
    .phone-num:valid + .icon-chahao {
      display: block;
    }
  }
  .next {
    width: 100%;
    height: 1rem;
    margin-top: 1rem;
    color: #fff;
    font-size: .35rem;
    font-weight: bold;
    background-color: #e60721;
    border: none;
    &:active {
      background-color: #c7182d;
    }
  }
}
// 歌单公共样式
// 歌单列表
.song-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  .song-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1.2rem;
    .left {
      display: flex;
      align-items: center;
      flex: 3.2;
      // 左侧图像
      .list-cover {
        padding: .1rem .225rem .1rem .27rem;
        .bgc {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1rem;
          height: 1rem;
          background: rgba(0, 0, 0, 0.8);
          border-radius: .1rem;
          i {
            color: #fff;
            font-size: .5rem;
          }
        }
      }
      // 歌单信息
      .list-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1;
        height: 1rem;
        padding: .1rem 0;
        .list-title {
          width: 4.8rem;
          padding-top: .04rem;
          font-size: .29rem;
          color: black;
        }
        .first {
          width: 3rem;
        }
        .list-num {
          width: 95%;
          padding-top: .04rem;
          color: rgb(112, 111, 111);
          font-size: .24rem;
        }
      }
    }
    // 心动按钮
    .heart-module {
      display: flex;
      align-items: center;
      flex: 1;
      height: 1.2rem;
      padding-right: .225rem;
      font-size: .24rem;
      .title-btn {
        width: 1.75rem;
        height: .5rem;
        line-height: .5rem;
        padding: 0 .1rem;
        font-size: 3vw;
        color: black;
        background-color: #fff;
        border: .01rem solid rgba(0, 0, 0, .1);
        .icon-xindong {
          font-size: .24rem;
          margin-right: .05rem;
        }
        &:active {
          border: none;
        }
      }
    }
    // 歌单右侧编辑
    .compile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: .32;
      height: 1.2rem;
      padding-right: .225rem;
      .icon-sandian {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 1.2rem;
        font-size: .33rem;
      }
    }
    // 通过兄弟选择器来使整个容器active
    .left:active, .left:active ~* {
      background: rgba(1, 1, 1, .1);
      .title-btn {
        background: transparent;
      }
    }
  }
}
// 修改vant动作面板
.van-overflow-hidden {
  // 禁止body滚动
  overflow: hidden;
  height: 100vh;
}